@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(images/markus-spiske-iar-afB0QQw-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* css */

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  /* background-color: var(--light-blue); */
  color: #fff;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  padding: 2rem;
  width: 40rem;
  border-radius: 5px;
}

h1 {
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: var(--white);
  border-bottom: 1px solid var(--grey);
  font-size: 1.6rem;
}

.form-field label {
  cursor: pointer;
}

.p-header {
  position: relative;
}

.p-header input {
  width: 100%;
  height: 100%;
  background-color: rgb(21, 206, 135);
  color: rgba(255, 255, 255, 0.8);
  padding: 1.4rem;
  border-radius: 3px;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
}

.p-header button,
.form-field input[type="number"] {
  background-color: var(--white);
  padding: 3px 5px;
  outline: none;
  border: none;
  border-radius: 3px 0 0 0;
  font-size: 1.4rem;
}

.p-header button {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

#submit {
  width: 100%;
  padding: 1.5rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  transition: all 0.3s;
}

#submit:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
