@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap%22");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--black);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.pal {
  width: 40rem;
  background: var(--white);
  padding: 5rem 3rem;
  border-radius: 5px;
}

input {
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--blue);
  padding: 1rem 5px;
  font-size: 1.6rem;
}

button {
  width: 25%;
  padding: 1rem 5px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--white);
  background: var(--blue);
}

p.result {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-grey);
}
