@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60") no-repeat;
  background-position: center;
  background-size: cover;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  width: 40rem;
  background-color: #ffffff10;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

h2 {
  font-size: 4rem;
  color: var(--white);
  background-color: #ffffff10;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 800;
  text-align: center;
  padding: 1rem;
}

form,
form > * {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.6rem;
  border-bottom: 2px solid #777;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input,
select {
  font-size: 1.6rem;
  padding: 7px;
  width: 20rem;
  text-align: right;
  border: none;
  outline: none;
  border-radius: 3px;
}

label {
  color: #fff;
}

.btn {
  margin: 5px 0;
  background-color: #ffffff10;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: var(--white);
  font-weight: 900;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #fcfafae1;
  color: #1c2b2d;
}

.error {
  color: rgb(236, 0, 0);
  font-weight: bolder;
  display: none;
}

.result {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.result > * {
  background-color: #ffffff10;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.total {
  color: green;
  font-weight: bolder;
}
